.bundle
.DS_Store
*.log
log/*
*.db
db/*.sqlite3
db/*.sqlite3-journal
public/system/*
*.swp
*~
tmp/**/*
dump
tmp/*
coverage/*
spec/coverage/*
rails_best_practices_output.html
schema.rb
solr/data
solr/pids
spec/models/coverage
spec/controllers/coverage
spec/views/coverage
.redcar
*redcar*
vendor/cache
vendor/ruby
